@using BlogApp.Entities
@model IEnumerable<BlogModel>

<div class="col-md-12 ml-2">
    <div class="blog-entry ftco-animate d-md-flex">
        <table class="table">
            <tr>
                <th>#</th>
                <th>
                    Bloglarım
                </th>
                <th>
                    Blog Resim
                </th>
                <th>
                    Onay
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>#</td>
                    <td>
                        <a href="/Home/Single/@item.Id"> @item.Title</a>
                    </td>

                    <td>
                        <a href="/Home/Single/@item.Id"><img src="~/Upload/Blogs/@item.Url" class="rounded-circle ml-3" style="width:40px;height:40px" /></a>

                    </td>
                    <td>
                        @if (item.isApproved == true)
                        {
                            <button class="btn btn-success  btn-xs">✓</button>
                        }
                        else
                        {
                            <button class="btn btn-danger  btn-xs">X</button>
                        }
                    </td>
                </tr>


            }

        </table>


    </div>
</div>